

<header>
    <div class="nav-menu">
        <div>
            <ul>
                <li class="logo-text"><a>WeatherInfo<a></li>
                <li><a href="default">Home</a></li>
                <li><a href="weather.hbs">Weather</a></li>
            </ul>
        </div>
    </div>
</header>